@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  transition: background-color 250ms ease;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.banner {
  min-height: 85vh;

  @screen lg {
    min-height: 95vh;
  }
}

.layout {
  max-width: 100%;

  @screen md {
    max-width: 90%;
  }

  @screen lg {
    max-width: 85%;
  }

  @screen 2xl {
    max-width: 80%;
  }
}

.banner {
  min-height: 85vh;

  @screen lg {
    min-height: 95vh;
  }
}

.list {
  scrollbar-width: none;
}
